@model ProdutoModel

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<br />
<div class="container">
    <div class="row">
        <div class="col col-2">
            <h3>Filtro</h3>
        </div>
        <br />

        <form asp-controller="FiltroProduto" asp-action="Filtro">

            <div class=" col-lg-2">
                <input asp-for="Id" type="number" class="form-control" placeholder="Código" />
            </div>
            <div class="col col-lg-8">
                <button type="submit" class="btn btn-default">Buscar</button>
            </div>

        </form>
    </div>
</div>

<br />

<div class=" container">
    <div class="table-responsive">
        <table class=" table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th style="padding: 0px 10px 0px 10px;">Id</th>
                    <th style="padding: 0px 10px 0px 10px;">Nome</th>
                    <th style="padding: 0px 10px 0px 10px;" ">Descrição</th>
                    <th style="padding: 0px 10px 0px 10px;">Preço Unitário</th>
                    <th style="padding: 0px 10px 0px 10px;">Quantidade Estoque</th>
                    <th style="padding: 0px 10px 0px 10px;">Unidade Medida</th>
                    <th style="padding: 0px 10px 0px 10px;">Link Foto</th>
                </tr>
            </thead>

            <tbody>


                @{
                    try { 
                    foreach (var item in (List<ProdutoModel>)ViewBag.ListaProdutosCod)
                    {
                        <tr>
                            <td style="padding-left:3px;padding-right:3px;"><button type="button" class="btn btn-warning" onclick="Editar(@item.Id)">Editar</button></td>
                            <td style="padding-left:3px;padding-right:3px;"><button type="button" class="btn btn-danger" onclick="Excluir(@item.Id)">Excluir</button></td>

                            <td style="padding: 0px 10px 0px 10px;">@item.Id</td>
                            <td style="padding: 0px 10px 0px 10px;">@item.Nome</td>
                            <td style="padding: 0px 10px 0px 10px;">@item.Descricao</td>
                            <td style="padding: 0px 10px 0px 10px;">@item.Preco_Unitario</td>
                            <td style="padding: 0px 10px 0px 10px;">@item.Quantidade_Estoque</td>
                            <td style="padding: 0px 10px 0px 10px;">@item.Unidade_Medida</td>
                            <td style="padding: 0px 10px 0px 10px;"><img src="@item.Link_Foto" width="150" height="150" /></td>
                        </tr>
                        }
                    }
                    catch
                    { }
                }
            </tbody>
        </table>
    </div>
</div>
<br /><br />
<script>  

    // Função em JS para Editar
    function Editar(Id) {
        window.location.href = "../Produto/Cadastro/" + Id;
    }

    // Função em JS para Excluir
    function Excluir(Id) {
        window.location.href = "../Produto/Excluir/" + Id;
    }
</script>

<!-- Rotina Abaixo é para voltar a Listagem de Produtos -->
<button type="button" class="btn  btn-default" onclick="Voltar()">Retornar para o Menu</button>

<script>
    function Voltar() {
        window.location.href = '../../Home/Menu';
    }
</script>

